<li class="row list-group-item d-inline-flex justify-content-between px-0 mx-1">
    <p class="lead align-items-center col-sm-12 col-md-6">
        {{dataValues.burger_name}}
    </p>

    <div class="btn-group justify-content-center col-sm-12 col-md-6">
        <button class="btn btn-outline-dark devour" data-id={{dataValues.id}} data-devoured={{devoured}}>
            {{#if devoured}}
            Devour this shit
            {{else}}
            Give it back
            {{/if}}
        </button>
        <button class="btn btn-danger delete-burger" data-id="{{dataValues.id}}">DEL</button>
    </div>
    
    <form action="" class="make-customer col-12">
        <div class="form-group">
            <input class="customer-input" type="text" name="customer" id="customerName{{dataValues.id}}" autocomplete="off" placeholder="Customer Name">
        </div>
    </form>

    {{#each dbCustomer}}
    {{#ifeq ../dataValues.id dataValues.BurgerId}}
    {{> customer-badge}}
    {{/ifeq}}
    {{/each}}
</li>